
    <footer class="footer d-flex flex-wrap justify-content-between align-items-center fixed-bottom">
      <div class="d-flex align-items-center">
        <small><span class="mb-3 mb-md-0 text-footer">&copy; Copyright <%= tarih %> Özel Bismil Teknoloji Koleji</span></small>
      </div>
      <ul class="nav justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="footer-icon" href="https://www.instagram.com/ozelbismilteknolojikoleji/" target="_blank"><i class="fa-brands fa-instagram" style="font-size: 25px;"></i></a></li>
      </ul>
    </footer>